<% body.split("\r\n").each_with_index do |line, index| %>
  <p style='text-align: center; font-style: italic; line-height: 2; padding: 0 40px; font-size: 17px'>
    <% if index === 0 %>&ldquo;<% end %>
    <%= line %>
    <% if index === body.split("\r\n").length - 1 %>&rdquo;<% end %>
  </p>
<% end %>