<% body.split("\r\n").each_with_index do |line, index| %>
  <p style='text-align: center; line-height: 1.4; padding: 0 40px; font-size: 17px; font-weight: normal; font-family: "Gotham-Light", helvetica'>
    <%= line %>
  </p>
<% end %>