<div style='background: #383837; color: rgb(233, 227, 227); padding: 8px'>
  <h2 style='font-size: 24px; text-align: center; text-decoration: underline; font-weight: lighter'>
    <%= @author %>
  </h2>
  
  <h4>From:</h4>
  <p style='text-align: center; font-style: italic; line-height: 2; padding: 0 40px; font-size: 17px'>
    <%= render 'quote', body: @original.body %>
  </p>

  <h4>To:</h4>
  <p style='text-align: center; font-style: italic; line-height: 2; padding: 0 40px; font-size: 17px'>
    <%= render 'quote', body: @edited %>
  </p>

  <p style='text-align: center; font-size: 10px; color: #383837'><%= @original.id %></p>
</div>