<div style='background: #383837; color: rgb(233, 227, 227); padding: 8px'>
  <h2 style='font-size: 24px; text-align: center; text-decoration: underline; font-weight: lighter'>
    <%= @quote.author %>
  </h2>
  <%= render 'quote', body: @quote.body %>
</div>