<div style='background: #F7F7F7; color: black; padding: 8px; font-family: "Gotham-Light", helvetica'>
  <h2 style='font-size: 24px; text-align: center; font-weight: normal; font-family: "Gotham-Light", helvetica; margin-bottom: 30px;'>
    <%= @author %>
  </h2>
  
  <h4 style='font-size: 20px; text-align: center; font-weight: 400; font-family: "Gotham-Light", helvetica; margin-bottom: 30px;'>From:</h4>

  <p style='text-align: center; line-height: 2; padding: 0 40px; font-size: 17px; color: #F7F7F7; font-family: "Gotham-Light", helvetica'>
    <%= render 'quote', body: @original.body %>
  </p>

  <h4 style='font-size: 20px; text-align: center; font-weight: 400; font-family: "Gotham-Light", helvetica; margin-bottom: 30px;'>To:</h4>

  <p style='text-align: center; line-height: 2; padding: 0 40px; font-size: 17px; color: #F7F7F7; font-family: "Gotham-Light", helvetica'>
    <%= render 'quote', body: @edited %>
  </p>

  <p style='text-align: center; font-size: 10px; color: #F7F7F7'><%= @original.id %></p>
</div>