<div style='background: #383837; color: rgb(233, 227, 227); padding: 8px'>
  <h2 style='font-size: 24px; text-align: center; text-decoration: underline; font-weight: lighter'>
    <%= @quote.author %>
  </h2>
    <% @quote.body.split("\r\n").each_with_index do |line, index| %>
      <p style='text-align: center; font-style: italic; line-height: 2; padding: 0 40px; font-size: 17px'>
        <% if index === 0 %>&ldquo;<% end %>
        <%= line %>
        <% if index === @quote.body.split("\r\n").length - 1 %>&rdquo;<% end %>
      </p>
    <% end %>
  
</div>